* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color:rgb(134, 65, 65);
  min-width: min-content;
  max-width: 100%;
}

h1 {
  background-color: rgb(223, 189, 189);
  text-align: center;
  padding: 1.2rem;
  border-radius: 1.2rem;
}

.historyAndResponse {
  background-color: rgb(202, 202, 202);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 0 1.2rem;
  margin: 1.2rem 0;
  border-radius: 1.2rem;
}
