.userForm {
  background-color: whitesmoke;
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 2.3rem;
  
  display: flex;
  flex-direction: column;;
  justify-content: space-evenly;

  border-radius: 2rem;
}

button {
  width: fit-content;
  padding: 0 2rem;
  border-radius: 6px;
  background-color: rgba(245, 241, 241, 0.726);
  border: solid 1px;
}
